:root {
  --bg-color: #1c1c2a;
  --text-size: 16px;
  --padding: 1rem;
  --font-color: #c6c6ca;
  --border-color: #71738E;
  --bg-dark: #0a0d18;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains-Mono-Nerd-Font-Complete.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #fab387;
  padding: 0%;
  margin: 0;
  color: var(--font-color);
  font-family: "JetBrains Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  user-select: none;
  border-radius: 10px;
  height: calc(100vh - 2px) ;
  /* overflow: hidden; */
  border: 1px solid whitesmoke;


}

#app{
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid whitesmoke; */
  border-radius: 10px;
}

.with-banner{
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40vh;
  background-size: 15%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3bae350;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c7086;
}

/* Target your div by class or ID */


/* WebKit-based browsers (Chrome, Edge, Safari) */
.my-scrollable-div::-webkit-scrollbar {
  /* width: 6px; Narrow scrollbar width */
  height: 1px; /* For horizontal scrollbars, if applicable */
}

.my-scrollable-div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Subtle thumb color */
  border-radius: 3px; /* Rounded corners for smooth appearance */
}

.my-scrollable-div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* Darker on hover */
}

.my-scrollable-div::-webkit-scrollbar-track {
  background: transparent; /* Transparent track to avoid extra space */
}
