
:root {
  --bg-color: #1C1C2A;
  --text-size: 16px;
  --padding: 1rem;
  --font-color: #C6C6CA;
  --border-color:# 71738E;
  --bg-dark:#0A0D18;

}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrains-Mono-Nerd-Font-Complete.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0%;
  margin: 0;
  color: var(--font-color);
  font-family:'JetBrains Mono',monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  user-select: none;
  /* width: 100vw; */
}
