.cm-editor {
 
    background-color: #1C1C2A;
  }
  
  .ͼ1d{
    color: #9374BE;
  }
  
  .cm-gutters{
    border-right: 1px solid #71738E;
  }

.myeditor{
  margin-top: 30px;
  
  position: fixed;
  
  
}

