#focus-bar{
    /* width: calc( 100% - 50px ); */
    height: 30px;
    border-radius: 7px;
    background-color: #0A0D18;
    border: 1px solid #71738E;
    position: fixed;
    color: white;
    bottom: 30px;
    align-self: center;
    justify-self: center;
    left: 25px;
    right: 25px;


    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0px 10px;
    gap: 10px;

    z-index: 15;

    margin-left: 25px;
    /* margin-right: calc(35% + 25px ) ; */
    /* width: calc( 100% - 50px - 35%); */
    /* margin-right: 25px;     */
}

#focus-bar-tab{
    height: 22px;
    background-color: #272A29;
    border-radius: 5px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#focus-bar-tab:hover{
    
    background-color: #53556E;
}

#focus-tabs,#focus-apps,#focus-win-scroll-switch,#focus-tools{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    gap: 5px;
    border-right: 1px solid #FFFFFF;
    /* border-left: 1px solid #FFFFFF; */
    /* padding-left: 5px ; */
    padding-right: 10px;
}



#focus-bar-apps{
    aspect-ratio: 1/1;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;

    
}
#focus-bar-apps img{
    height: 17px;
}
#focus-win-scroll-switch img{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    padding-right: 5px;
}

#focus-bar-tools{
    aspect-ratio: 1/1;
    height: 22px;
    width: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

#focus-bar-tools img{
    height: 22px;
    
}



#focus-apps{
    
    margin-left: auto;
    
}

#focus-tools{
    border: none;
}



#focus-tabs{
    overflow-x: auto;
    overflow-y: hidden;
}

#focus-tabs::-webkit-scrollbar{
    height: 1px;
    width: 1px;
}