@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");



body .App {
  background-color: #1c1c2a;
  color: whitesmoke;
  font-family: "JetBrains Mono", monospace;
  border: 5px solid black;
  border-radius: 10px;
  min-height: calc(100vh - 10px) ;
  /* width: 100vw; */
  user-select: none;
}
* {
  /* color: #F3F3F3 !important; */
  font-family: "JetBrains Mono", monospace;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
